<script>
    let nav = 1;
    function openNav() {
        const sidebar = document.querySelector('.nav');
        const sidebarItems = document.querySelector('#sidebarItems');
        if(nav % 2 === 0) {
            sidebar.style.width = '50px';
            sidebarItems.style.visibility = 'hidden';
        } else if(nav % 2 !== 0) {
            sidebar.style.width = '175px';
            sidebarItems.style.visibility = 'visible';
        }
        nav++;
    }

    //editing recipes
    function addIngredients() {
        const container = document.getElementById('ingredients');
        const newInput = document.createElement('div');
        newInput.innerHTML = '<input class="form-control" type="text" name="ingredients" id="ingredients">';
        container.appendChild(newInput);
    }

    function addSteps() {
        const container = document.getElementById('steps');
        const newInput = document.createElement('div');
        newInput.innerHTML = '<input class="form-control" type="text" name="steps" id="steps">';
        container.appendChild(newInput);
    }

    function addImg() {
        const container = document.getElementById('images');
        const newInput = document.createElement('div');
        newInput.innerHTML = '<input class="form-control" type="text" name="images" id="images">';
        container.appendChild(newInput);
    };

    function addTags() {
        const container = document.getElementById('tags');
        const newInput = document.createElement('div');
        newInput.innerHTML = '<input class="form-control" type="text" name="tags" id="tags">';
        container.appendChild(newInput);
    }

    //editing shopping list
    function addNewItem() {
        const container = document.getElementById('shoppingListTable');
        const newInput = document.createElement('tr');
        newInput.innerHTML = `
            <tr>
                <form action="/list/edit" method="POST">
                    <td><input type="text" name="quantity"></td>
                    <td><input type="text" name="measurement"></td>
                    <td><input type="text" name="item"></td>
                </form>
                </tr>`;
        container.appendChild(newInput);
    }

    function deleteOneItem(i) {
        let id = parseInt(i);
        const container = document.getElementById('shoppingListTable');
        const itemToDelete = document.getElementById(id);
        container.removeChild(itemToDelete);
    }

    function checkOffItem(i) {
    let id = parseInt(i);
    const container = document.getElementById('checkShoppingList');
    const itemToDelete = document.getElementById(id);
    container.removeChild(itemToDelete);
}

</script>