<%- include('../partials/head.ejs') %>


<main>
<h1>My Shopping List</h1>

<ul class="list-group">
<% for(let i = 0; i < items.item.length; i++) { %>
    <li class="list-group-item">
        <%= items.quantity[i] + ' ' + items.measurement[i] + ' ' + items.item[i] %>
    </li>
<% } %>

</ul><br><br>
<a href="/list/edit">Edit List</a>
</main>

<%- include('../partials/footer.ejs') %>
</body>
</html>
