<%- include('../partials/head.ejs') %>


<main>
    <h1>Add a New Recipe</h1>

    
<form class="mb-3" action="/book" method="POST">
    <div>
        Name: <input class="form-control" type="text" name="name" id="name"><br>
    </div>
    <div>
        Category: <br>
        <input class="form-check-input" type="radio" name="category" id="entrees" value="entrees">
        <label for="entrees">Entrees</label><br>
        <input class="form-check-input" type="radio" name="category" id="sidesAndApps" value="sidesAndApps">
        <label for="sidesAndApps">Sides and Appetizers</label><br>
        <input class="form-check-input" type="radio" name="category" id="breakfast" value="breakfast">
        <label for="breakfast">Breakfast</label><br>
        <input class="form-check-input" type="radio" name="category" id="treats" value="treats">
        <label for="treats">Treats</label><br>
        <input class="form-check-input" type="radio" name="category" id="misc" value="misc">
        <label for="misc">Misc</label><br>
    </div><br>
    <div id="ingredients">
        Ingredients: <br>
        <input class="form-control" type="text" name="ingredients" id="ingredients">
    </div>
    <button type="button" id="addIngredient">Add Ingredient</button><br><br>
    <div id="steps">
        Instructions: <br>
        <input class="form-control" type="text" name="steps" id="steps">
    </div>
    <button type="button" id="addStep">Add Step</button><br><br>
    <div id="images">
        Image URL: <br>
        <input class="form-control" type="text" name="images" id="images">
    </div>
    <button type="button" id="addImage">Add URL</button><br><br>
    <div id="tags">
        Tags: <br>
        <input class="form-control" type="text" name="tags" id="tags">
    </div>
    <button id="addTag" type="button">Add Tag</button><br><br>
    <div><input type="submit" value="Create"></div>
    
</form>

</main>
<%- include('../partials/footer.ejs') %>

</body>
</html>
